@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@using EndPoint.Site.Areas.Admin.Models.ViewModels.HomePage
@model AddPicForHomePageViewModel
@{
    ViewData["Title"] = "AddPicForHomePage";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Basic form layout section start -->
        <section id="horizontal-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title" id="horz-layout-basic">افزودن تصویر برای صفحه اصلی سایت</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="px-3">
                                <form method="post" class="form form-horizontal">
                                    <div class="form-body">


                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="PicLink">لینک تصویر : </label>
                                            <div class="col-md-9">
                                                <input type="text" id="PicLink" class="form-control" name="PicLink"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">انتخاب تصویر : </label>
                                            <div class="col-md-9">
                                                <label id="projectinput8" class="file center-block">
                                                    <input type="file" id="PicForLink" name="Pic" accept="image/*" />
                                                    <span class="file-custom"></span>
                                                    :

                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="Location">محل قرار گیری : </label>
                                        <div class="col-md-9">
                                            <select id="Location" name="Location" asp-items="@Model.Locations" class="form-control">
                                                <option value="0" selected="" disabled="">محل قرار گیری</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="reset"  class="btn btn-danger mr-1">
                                            <i class="icon-trash"></i> لغو
                                        </button>
                                        <button type="button" id="btn_add" class="btn btn-success">
                                            <i class="icon-note"></i> ذخیره
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // Basic form layout section end -->
    </div>
</div>
@section Script{
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/sweetalert2/sweetalert2.min.css" />
    <script>
        var data = new FormData();
        $('#btn_add').on('click', function() {

            data.append('PicLink', $('#PicLink').val());
            data.append('Location', $('#Location').find("option:selected").val());
            var imagesifiles = document.getElementById("PicForLink");
            if (imagesifiles.files.length > 0) {

                
                    data.append('PicForLink', imagesifiles.files[0]);
                

            } else {
                swal.fire(
                    'هشدار!',
                    "لطفا تصویر را انتخاب کنید.",
                    'warning'
                );
            }
            $.ajax({
                type: "POST",
                url: "AddPicForHomePage",
                contentType: false,
                processData: false,
                data: data,
                success: function(data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function(isConfirm) {
                            location.reload();
                        });


                    }
                    else {

                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );

                    }
                },
                error: function(request, status, error) {
                    if (request.responseText != null) {
                        alert(request.responseText);
                    } else {
                        alert(error.text);
                    }

                }

            });
        });
    </script>
}