@{
    ViewData["Title"] = "cartempty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-main">
    <div class="d-block">
        <div class="main-row">
            <section class="cart-home">
                <div class="post-item-cart d-block order-2">
                    <div class="content-page">
                        <div class="cart-form">
                            <div class="cart-empty text-center d-block">
                                <div class="cart-empty-img mb-4 mt-4">
                                    <img src="~/Site template/assets/images/shopping-cart.png">
                                </div>
                                <p class="cart-empty-title">سبد خرید شما در حال حاضر خالی است.</p>
                                <a href="~/Authentication/Login" class="btn account-btn btn-primary">ورود به حساب کاربری</a>
                                <div class="return-to-shop">
                                    <a href="~/" class="backward btn btn-secondary">بازگشت به صفحه اصلی</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
